@import '../../../styles/common.scss';

.accordion {
	width: 80%;
	margin: 0 auto;
}


.advice {
	width: 100%;
	margin-bottom: 177px;
}


.advice__title {
	position: relative;
	font-size: 40px;
	line-height: 45px;
	color: $grey1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 30px 0;

		&::after {
			content: '';
			position: absolute;
			width: 80%;
			height: 1px;
			border-bottom: 1px solid $grey1;
			bottom: 0;
		}
}


.advice-card__title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}


.advice-card__title {
	color: $grey1;
	font-size: 24px;
	line-height: 27px;
}


.advice-card__content {
	color: $white;
	font-size: 16px;
	line-height: 26px;
	overflow: hidden;
	max-height: 0;
	transition: all 0.5s cubic-bezier(0,1,0,1);
}


.advice-card__content-show {
	height: auto;
	max-height: 9999px;
	transition: all 0.5s cubic-bezier(0,1,0,1);
	color: $white;
	font-size: 16px;
	line-height: 26px;
}