@import '../../styles/common.scss';

.advantage {
	padding-top: 100px;
}



.advantage-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}


.advantage__card {
	width: 270px;
	height: 518px;
	background-color: $black;
	border-radius: 20px;
}


.card__title {
	text-transform: uppercase;
	width: 222px;
	color: $white2;
	text-align: center;
	margin: 0 auto 19px auto;
	font-size: 18px;
	line-height: 28px;
}


.card__description {
	margin: 0 auto;
	width: 231px;
	color: $grey2;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}


.card__picture {
	margin-top: 37px;
	margin-bottom: 39px;
	text-align: center;
	width: 270px;
	height: 137px;
}