@import '../../styles/common.scss';

.modal__close {
	position: absolute;
	content: '';
	width: 17px;
	height: 17px;
	border-radius: 9px;
	background-color: $black;
	border: none;
	text-align: end;
	top: 3%;
	right: 3%;
}


.modal__close--img {
	width: 5px;
	height: 12px;
}