@import '../../../styles/common.scss';

.partners {
	width: 100%;
	height: 1181px;
	background-image: url('../../../images/svg/bacgroundPartners.svg');
	background-repeat: no-repeat;
	background-size: auto;
}


.partners__title {
	width: 622px;
	font-size: 40px;
	line-height: 60px;
	color: $white;
}


.partners__list {
	margin: 0 auto;
	padding: 0;
	width: 80%;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}


.partners__item {
	@include flexCenter;
}