@import '../../styles/common.scss';

.header {
	width: 100%;
	color: $grey1;
}


.header__wrapper {
	width: 80%;
	min-height: 67px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.main-nav__list {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	height: 26px;
	margin: 0;
}


.main-nav__item {
	display: block;
	margin: 0 40px 0 0;

		
}


.main-nav__item-link {
	text-decoration: none;
	color: $grey1;
	padding-bottom: 5px;

	&:hover, &.active {
		color: $white;
		border-bottom: 1px solid $white;
		
	}
}


.header__contact-tel {
	position: relative;
	cursor: pointer;

		&:hover {
			color: $grey1;
			.contact-tel__icon {
				fill: $grey1;
			}
		}
}


.contact-tel__icon {
	fill: #DCD7C0;
	position: absolute;
	left: -22px;
	top: 2px;
}
