@import '../../../styles/common.scss';


.project {
	width: 100%;
	margin-bottom: 130px;
}


.project__gallery {
	width: 83%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 34px auto 0 auto;
	grid-gap: 30px;
}


.gallery__photo {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.gallery__photo-wrapper {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(25, 25, 25, 0.65), rgba(25, 25, 25, 0.65));
	}

		&:hover::after {
			background: transparent;
		}
}


.gallery__photo-title {
	font-size: 16px;
	line-height: 18px;
	color: $white;
	margin: 26px 0 10px 0;
}


.gallery__photo-subtitle {
	color: $white;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
}


.project__button--first {
	margin-right: 75px;
}